* {
  margin: 0;
  padding: 0;
}

body {
    background: transparent;
    width: 248px;
}

.eye {
    -webkit-app-region: drag;
    width: 110px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    border: 7px solid black;
    float: left;
}

.iris {
    background: black;
    width:25px;
    height:25px;
    border-radius: 50%;
}
